@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 59%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 56%;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 65%;
  }
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #efa2b4, #aef1ee);
  background-attachment: fixed;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #18293c;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 35px 15px;
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #cddc39;
  z-index: -1;
  opacity: 0.12;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}