.link {
  line-height: 1.5;
  background-color: #ffffff40;
  border: 1px solid #ffffff40;
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  color: #e02f6b;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;

  &:hover {
    color: #fff;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    background-color: #e02f6b;
    z-index: -1;
    transition: width 0.3s ease;
  }

  &:hover::before {
    width: 100%;
  }
}
